Notificador de nuevos datos.json
{
  "name": "Notificador de nuevos datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -32
      ],
      "id": "424d7d22-5727-4014-9c89-fbbe305c00c5",
      "name": "Webhook",
      "webhookId": "d75ad493-014d-4b24-a659-00c6c180b38a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4344f483-d8a6-41f5-a2d8-97fae8260b9d",
              "leftValue": "={{ $json.body.email }} ",
              "rightValue": "^[a-zA-Z0-9_%.+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$ 📋 Copiar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "752076db-d367-4b3c-93bf-311b17b303f3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -80
      ],
      "id": "782c5ccc-29f4-441c-aeae-ef0d80d30f3b",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        -176
      ],
      "id": "6b39271c-87e6-405f-931f-5dfa2cede924",
      "name": "Send a message",
      "webhookId": "1e8f7dd2-23a6-4f28-8837-801c2cd0ea1d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        64
      ],
      "id": "0fbb6928-3339-476e-8b7a-f7f534c3d82b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce5255dd-84f6-4b2e-932b-b2aaa4b32bd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d0f277699b059f4f138a9ac77404d55542e1a864fb55e5855530c527ff52e4"
  },
  "id": "oinDlc4fkeNXBmPY",
  "tags": []
}